<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="format-detection" content="telephone=no">
    <title>支付</title>
</head>

<body>



        <form class="layui-form" action="/alipay/pay">
            <input type="text" placeholder="￥" name="money" id="money"/>
            <button type="submit" value="购买"/>
        </form>


</body>

</html>
